/* PdfViewer.css */

.pdf-viewer-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pdf-scroll-container {
  display: flex;
  flex-direction: center;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
}

.pdf-page {
  flex: none;
  margin-right: 16px; /* Adjust spacing between pages */
}

.pdf-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: ew-resize;
}
